body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: green;
    border-left: double;
}

p {
    font-size: 20px;
    padding-left: 5px;
    border: 10px double darkgreen
}
